body
{
   background-color:  rgb(135, 201, 70);
   margin: 50px;
   height: 100%;
   width: 100%;
   padding: 30px 20px;
   
}
h1{
    text-align: center;
}
form{
    background-color: coral;
    margin: 10px;
    height: 500px;
    width: 500px;
    padding: 20px 40px;
}
.button
{
    align-items: center;
}